

.name h1 {
  margin: 0;
  font-size: 122px;

  margin-left: 10px;
 
}

body {
  margin-top: 10px; 
  margin-bottom: 20px;
  margin-left: 5px; 
  margin-right: 5px; 
  background-color: #d36bbb;
  margin: 0;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;

  
}

.container {
  display: flex;
  margin-top: 4.8%;
  padding-right: 0px;
  background-color: rgb(249, 181, 249);
}

.bio, .header {
  margin-bottom: 20px;
}


.header {
  margin-bottom: 10px;
  margin-left: 10px; 
  margin-right: 5px; 
  font-size: 80px;

  text-align: left;
  height: 100px;


}

.header h1 {
 
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 10px;
  
  
}
.header h2 {
  font-size: 20px;
 
  font-weight: bold;
  margin-left: 20px;

}

.header h3 {
  font-size: 21px;
 /* background-color: #322778; */
  font-weight: bold;
  margin-bottom: 0px;
  margin-left: 20px;
}

.header p {
  font-size: 15px;
  margin-bottom: 10px;
  margin: 0;
  
}

.bio {margin-top: 10px; 
  /* margin-bottom: 20px; */
  margin-left: 10px; 
  margin-right: 5px; 
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  height: 100px;
 width: 40%;
 color: black; 
  padding: 10px;
}

.bio h1 {
  color: black ;
  font-size: 22px;

  font-weight: bold;
 margin-left: 20px;
  
  
  
margin-top: 10px;
}
.bio p, .soft-skills,.education, .education p {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 15px;
  line-height: 1.6;
  margin-left: 10px;
  color: black; 
  font-size: 15px;
width:400px ;
/* padding:10px; */
}

.education{
  margin-top: 10px;
  margin-bottom: 20px;  
  margin-left: 10px;
  margin-right: 5px;
  padding: 10px;
  width: 100%;
  font-size: 22px;
} 
.bio , .soft-skills,.hard-skills,.education{
  margin-left:10px;
  margin-top: 10px;
}


.hard-skills,
.soft-skills,
.experience {

  margin-top: 10px; 
  margin-bottom: 10px;
  margin-left: 10px; 
  margin-right: 5px; 
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
  padding: 10px;
}

.education h2,
.hard-skills h2,
.soft-skills h2,
.experience h2 {
 
  margin-left: 10px;

margin-top: 10px;
  color: black;
  font-size: 22px;
 
  padding: 10px;
}

.education p,
.hard-skills ul,
.soft-skills ul,
.experience p {
    /* margin-top: 10px; */
  padding: 10px;
  padding-top:0px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.education p:last-child,
.hard-skills ul:last-child,
.soft-skills ul:last-child,
.experience p:last-child {
  margin-top: 5px; 
  margin-bottom: 10px;
 
  margin-right: 5px; 
  padding: 10px;
}


.experience{
  margin:0px;
  margin-left: 10px;
  height: auto ;
}
.experience h2{
  font-size: 22px;
  margin-left: 10px;
}
.experience p ul {
  list-style-type: none;
  padding: 0;
  margin-left: 10px;
  
}

.experience p ul li {
  margin-bottom: 5px;
  margin-left: 10px;

}

.experience p ul li:last-child {
  margin-bottom: 0;
}
.log {
  position: absolute;
  top: 5px;
  left:370px;
 
  border: 2px solid rgb(0, 0, 0);
  border-radius: 1px; 
  height: 155px;
  width: 155px; 
  margin-right: 10px;
  margin-top: 0px;
}




.left-section {
  width: 35%;
  float: left;
  background-color: #d36bbb;
  padding: 0px;
  border: 2px solid rgb(0, 0, 0);
  box-sizing: 1px;

  
}
.horizontal{
  color: black;
  border-top: 2px solid black;
  
}
.right-section {
  border-top: 2px solid black;
  width: 65%;
  float: left;
  background-color: 89006bd2;
  padding: 0px;
margin-left: 0px;
  box-sizing: 1px;
  left:10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.bio, .education, .hard-skills, .soft-skills {
 
  padding: 10px;

  list-style-type: disc;
  padding-left: 20px;
}

.soft-skills ul, .hard-skills ul {
  list-style-type: disc;
  padding-left: 20px;
}
.exp1, .exp2, .exp3, .exp4{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* 
.right-section {
  float: right;
  box-sizing: 1px;
  width:48%;
  margin: 10px 0 0 10px; 
} */

.soft-skills, .experience {
  margin-top: 10px; 
}
.exp1 p, .exp2 p, .exp3 p, .exp4 p{
  font-size: 18px;
}
.exp1 ul, li{
  margin-top: 10px;
}
.exp2 p{
  font-size: 15px;
  padding: 0;
  margin-left: 10px;
}
/* .exp2 li,.exp3 li{
  font-size: 16px ;
  padding: 0;
  margin-left: 22px;
} */

.name h3{
  font-size: 16px;
  color: #d36bbb;
}
#dropdown-menu{
  cursor: pointer;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 90px;
  vertical-align: middle;
  color: white;
  background: rgb(73, 2, 91);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}
.dropdown-content{
  cursor: pointer;
  display: none;
  background: rgb(47, 117, 187);
  position: relative;
  min-width: 160px;
  z-index: 1;
  left: 0;
  font-weight: normal;
  font-size: medium;
}

#dropdown-menu li{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  list-style-type: none;
}

#dropdown-menu li{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  list-style-type: none;
}

#dropdown-menu ul{
  margin: 0;
  padding: 0;
}

#dropdown-menu:hover .dropdown-content{
  display: block;
}

#dropdown-menu li:hover{
  background: #db0c96;
}

.right-content{
  text-align: right;
 margin-top: auto;
}

.center-content{
  text-align: center;
}

.dropdown-content.menu-rtl{
  float: right;
}

.dropdown-content a{
  color: white;
  text-decoration: none;
}

.content{
  margin-top: 48px;
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.my-img{
  width: 300px;
  border-radius: 8px;

}

.img-frame{
  border-radius: 10px;
  border: 1px solid grey;
  display: inline-block;
  padding: 10px;
}
.about{
  font-size: 42px;
}